
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">EasyChoice</h1>
    <br>
    <p class="w3-xlarge">Encontre o que você procura </p>
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/category">Começar</a>
  </header>
  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Motivação</h1>
        <h5 class="w3-padding-32">A dificuldade para encontrar uma informação, por exemplo, uma pessoa quer saber qual a melhor instituição de ensino para estudar, então ela vai ter que fazer várias pesquisas, acessar diversos sites, com nosso sistema ela consegue encontrar essa informação em um só lugar.</h5>
  
        <p class="w3-text-grey">Este projeto tem como objeto criar um sistema que possibilite o usuário realizar uma consulta e obter recomendações para tomada de decisão.  De forma rápida e eficaz. A dificuldade para encontrar uma informação, por exemplo, uma pessoa quer saber qual a melhor instituição de ensino para estudar, então ela vai ter que fazer várias pesquisas, acessar diversos sites, com nosso sistema ela consegue encontrar essa informação em um só lugar. 
        </p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Objetivo </h1>
        <h5 class="w3-padding-32">Este projeto tem como objeto criar um sistema que possibilite o usuário realizar uma consulta e obter recomendações para tomada de decisão.  De forma rápida e eficaz.</h5>
  
        <p class="w3-text-grey">Oferecer uma solução que possibilite ao usuário obter várias informações em apenas um site, assim, tendo praticidade na busca e na tomada de decisão.
            A dificuldade para encontrar uma informação, por exemplo, uma pessoa quer saber qual a melhor instituição de ensino para estudar, então ela vai ter que fazer várias pesquisas, acessar diversos sites, com nosso sistema ela consegue encontrar essa informação em um só lugar.</p>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">EasyChoice</h1>
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
   <p>Powered by <a href="https://bsi.uniriotec.br/" target="_blank">Universidade federal do estado do Rio de Janeiro (UNIRIO)</a></p>
  </footer>